@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

:root {
    --rose: #d0a1a8;
    --lightrose: #fcc7cf;
    --rosewhite: #fff3f5;
    --gray: #d3d3d3;
    --white: #fff;
    --coal: #181C1D;
    --oceanblue: #3A63AE;
    --burntorange: #65351D;
    --flamencored: #DF0545;
    --lushgreen: #384004;
    --sunsetpink: #F4A9AB;
    --poppyyellow: #D18401;
    --serif: 'Playfair Display', serif;
    --sans-serif: font-family: 'Open Sans', sans-serif;
}

body.pushable {
    font-family: var(--serif); 
    background: white!important;
    max-width: 1026px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--rose);
    font-family: var(--serif);
}

button {
    border-color: var(--rose);
    color: var(--rose);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: .9em;
    font-family: var(--serif);
    transition: all .5s ease-in-out;
}

button:hover {
    background-color: var(--rosewhite);
    cursor: pointer;
}


.hamburger-icon {
    display: inline-flex;
    height: 48px;
}
.hamburger-icon .luggage {
    height: 100%;
    transition: all .5s ease-out;
}

.hamburger-icon p {
    margin: 0;
    align-self: center;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .5s ease-out;
}

.hamburger-icon:hover .luggage {
    transform: rotate(90deg);
    cursor: pointer;
}

.hamburger-icon .luggage-fill {
    fill: #fff;
    transition: all .5s ease-out;
}
.hamburger-icon:hover .luggage-fill {
    fill: var(--rose);
}
.hamburger-icon:hover p {
    /* transform: rotate(90deg); */
    padding-left: 10px;
}

nav {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 20px 10px;
}

.site-nav-menu {
    list-style-type: none;
    padding-left: 0;
}
.site-nav-text {
    text-align: center;
    justify-content: center;
    display: flex;
}
.site-logo {
    margin-bottom: 0;
    line-height: .9em;
    align-self: center;
}
.site-logo span {
    font-style: italic;
    font-size: .6em;
    font-weight: 400;
}
.site-nav-text h2 {
    display: none;
}
.site-nav-icons {
    display: flex;
    justify-content: space-between;
}

section.locator {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 20px;
}

main {
    margin: 0 20px;
}

.locator-dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui.selection.dropdown {
    width: 100%;
    margin: 10px;
}

.gallery {
    display: grid;
}

.gallery__text {
    text-align: center;
    margin: 10px 0 30px 0;
    transform: translateY(-55px);
}

.gallery__text h3 {
    color: var(--white);
    display: inline-block;
    padding: 15px;
}

.gallery__text.romania h3 {
    background-color: var(--coal);
}
.gallery__text.ireland h3 {
    background-color: var(--oceanblue);
}
.gallery__text.portugal h3 {
    background-color: var(--burntorange);
}
.gallery__text.france h3 {
    background-color: var(--flamencored);
}
.gallery__text.iceland h3 {
    background-color: var(--lushgreen);
}
.gallery__text.italy h3 {
    background-color: var(--sunsetpink);
}
.gallery__text.arizona h3 {
    background-color: var(--poppyyellow);
}

.gallery__text p:first-of-type:before {
    content: '|';
    display: block;
    font-size: 30px;
    margin: 0 10px 10px 10px;
}

picture img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .locator-dropdowns {
        flex-direction: row;
    }
    .gallery {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7,1fr);
        grid-column-gap: 10px;
    }

    .gallery__slide {
        position: relative;
    }

    .gallery__slide:after {
        -webkit-box-shadow: 2px 3px 13px 6px rgba(0,0,0,0.23); 
        box-shadow: 2px 3px 13px 6px rgba(0,0,0,0.23);
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .gallery__slide:first-of-type picture {
        display: flex; /*fix bug where there is white space on the bottom of the first picture tag*/
    }
    .gallery__text {
        display: none;
    }
    .site-nav-text {
        flex-direction: column;
    }
    .site-nav-text h2 {
        display: block;
        margin: 5px 0;
        font-size: 1.2em;
        font-weight: 400;
        font-style: italic;
    }
}
